:root {
  // colours
  --white-color: #fff;
  --bright-color: hsl(31, 77%, 52%);
  --mid-color: hsl(184, 100%, 22%);
  --dark-color: hsl(179, 100%, 13%);
  --light-grey-color: hsl(0, 0%, 95%);
  --white-transparent-color: hsla(0, 0%, 100%, 0.75);
  // fonts
  --default-font-family: 'Lexend Deca', sans-serif;
  --default-font-size: 15px;
  --title-font-family: 'Big Shoulders Display', cursive;
}

// mobile width
$mobile-width: 375px;

// fixed size to keep design pattern
$card-width: 20rem; // 300 / 15
$deck-width: $card-width * 3; // 3 ia a no. of cards

// only for generic .attribution class
$attribution-height: 50px;

@mixin grid-centering {
  display: grid;
  place-content: center;
}

html {
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  font-weight: 400;
}

body {
  margin: 0;
  background-color: var(--light-grey-color);
  min-height: 100vh;
  @include grid-centering();
  position: relative;

  // only for generic .attribution class
  &::after {
    content: '';
    height: $attribution-height;
  }
}

@mixin title_font {
  font-family: var(--title-font-family);
  font-weight: 700;
  font-size: 2.5rem;
}

// properties works together
@mixin rounded_corners($radius: .5rem) {
  border-radius: $radius;
  overflow: hidden;
}

// present values read from svg file 
@mixin card-icon($present_width: 64, $present_height: 40, $desired_height: 3rem) {
  height: #{$desired_height};
  margin-right: calc(100% - #{$desired_height} * #{$present_width} / #{$present_height});
}

.deck {
  color: var(--white-color);
  display: flex;
  @include rounded_corners();

  // to keep design pattern
  @media (max-width: $deck-width) {
    max-width: $card-width;
    flex-direction: column;
  }

  // full width for mobile
  @media (max-width: $mobile-width) {
    max-width: 100%;
  }

  &__card {
    max-width: $card-width;
    padding: 3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    @media (max-width: $mobile-width) {
      max-width: 100%;
    }

    &--bright {
      background-color: var(--bright-color);
    }

    &--mid {
      background-color: var(--mid-color);
    }

    &--dark {
      background-color: var(--dark-color);
    }
  }
}

.card {

  // .card attributes => .deck__card above
  &__title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    @include title_font();
  }

  &__icon {
    @include card-icon();
  }

  &__text {
    margin-bottom: 4rem;
    line-height: 2rem;
    color: hsla(0, 0%, 100%, 0.8);
  }

  &__button {
    width: 8rem;
    padding: 1rem;
    margin-top: auto;
    border-radius: 2rem;
    background-color: var(--white-color);
    display: block;
    text-decoration: none;
    text-align: center;
    box-shadow: inset 0 0 0 2px var(--white-color);
    transition: ease-out 300ms background-color, color;

    &:hover {
      color: var(--white-color);
      background-color: transparent;
    }

    &--bright {
      color: var(--bright-color);
    }

    &--mid {
      color: var(--mid-color);
    }

    &--dark {
      color: var(--dark-color);
    }
  }
}

.attribution {
  height: $attribution-height;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  bottom: 0;
}